<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

<!-- 
    <context:component-scan base-package="xsh.raindrops.project.*.web.*,xsh.raindrops.project.*.web"/>
 -->
    <!--通用视图解析器 -->
    <!-- <bean id="viewResolverCommon"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="order" value="101"/>
    </bean>

    图片上传
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        1024*2000即2m
        <property name="maxUploadSize" value="2048000"/>
        resolveLazily属性启用是为了推迟文件解析，以便在UploadAction 中捕获文件大小异常
        <property name="resolveLazily" value="true"/>
    </bean>
 -->

    <!-- 处理静态资源 -->
   <!--  <mvc:default-servlet-handler/> -->

    <!-- 必配,注册Mapping,Adapter,ExceptionResolver,JSR303,数据转换等 -->
    <!-- <mvc:annotation-driven/> -->


    <!-- <aop:config proxy-target-class="true"/>
    <aop:aspectj-autoproxy/> -->

</beans>